<div class="container">
  <div class="content">
        <h1>Modifier l'élève - 245</h1>
        <form>
            <label for="lastname">Nom</label>
            <input type="text" id="lastname" value="KOUAKOU" required>

            <label for="firstname">Prénom</label>
            <input type="text" id="firstname" value="Georges" required>

            <label>Genre</label>
            <label><input type="radio" name="gender" value="Homme" required> Homme</label>
            <label><input type="radio" name="gender" value="Femme" required> Femme</label>

            <label for="phone">Téléphone</label>
            <input type="text" id="phone" value="0123456789" required>

            <label for="address">Adresse</label>
            <input type="text" id="address" value="Dakar" required>

            <label for="idNumber">Numéro d'identité</label>
            <input type="text" id="idNumber" value="G0U038737" required>

            <label for="dob">Date de naissance</label>
            <input type="date" id="dob" value="1992-08-12" required>

            <div>
                <button type="button" class="button cancel">Annuler</button>
                <button type="submit" class="button save">Enregistrer</button>
            </div>
        </form>
  </div>
</div>
