<div class="container">
  <div class="content">
        <h1>Modifier l'utilisateur - 45678</h1>
        <form>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" id="username" value="admin" disabled>

            <label for="old-password">Ancien mot de passe</label>
            <input type="password" id="old-password" required>

            <label for="new-password">Nouveau mot de passe</label>
            <input type="password" id="new-password" required>

            <label for="confirm-password">Confirmer nouveau mot de passe</label>
            <input type="password" id="confirm-password" required>

            <div>
                <button type="button" class="button cancel">Annuler</button>
                <button type="submit" class="button save">Enregistrer</button>
            </div>
        </form>
    </div>
</div>
